{% extends './layout.html' %} {% block title %} 图书管理系统 {% endblock %} {% block head %} {% include "../components/head.html" %} {% endblock %} {% block content %}
<div id="container">
  <h1>增加图书</h1>
  <div>
    <p>书名：<input type="text" value="测试" /></p>
    <p>作者：<input type="text" value="测试作者" /></p>
    <p>时间：<input type="text" value="2019-01-01 12:00:00" /></p>
    <p>图书馆：<input type="number" /></p>
  </div>
  <a href="javascript:void(0)" id="js-btn">添加图书</a>
</div>
{% endblock %} {% block scripts %}
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>

<!-- 浏览器支持module，我们使用es6加载，浏览器会优化js代码 -->
<script type="module">
  console.log('浏览器支持module');
  import('/scripts/add.js').then(_ => {
    const create = new _.default();
    create.fn();
  });
  // import Create from '/scripts/add.js';
  // const create = new Create();
  // create.fn();
</script>

<!-- 浏览器不支持 module -->
<!-- 如果不支持 module 的话，可以使用 babel 将 es6 编译成 es5，然后引入，
  但是编译之后的代码可能还包含exports，所以我们需要使用万能模块加载器 system.js -->
<script src="https://cdn.bootcss.com/systemjs/3.0.0/system.min.js"></script>
<script type="nomodule">
  System.import('/scripts/add.bundle.js').then(_ => {
    const create = new _.default();
    create.fn();
  });
</script>
<!-- <script src="/scripts/add.js"></script> -->
{% endblock %}
